def pedidos() = 
    result = list.hd(get_process_lines(default="", "sudo -u nginx /usr/bin/php /var/www/{{ domain }}/artisan song:dump"))
    request.create(result)
end
laravel = request.dynamic(pedidos)