def pedidos() = 
    result = list.hd(default="", get_process_lines("sudo -u nginx /usr/bin/php /var/www/{{ domain }}/artisan songdump"))
    request.create(result)
end
laravel = request.dynamic.list(pedidos)