settings.log.file.path.set("/dev/null")
settings.log.stdout.set(false)
settings.server.telnet.set(false)
settings.harbor.bind_addrs.set(["0.0.0.0"])
# tweak these values if you have lag, skipping, buffer underrun etc
settings.frame.duration.set(0.04)
settings.root.max_latency.set(60.)