output.icecast(%mp3
        (bitrate={{ radio_bitrate }}, samplerate=44100, id3v2=true),
        host = "localhost",
        port = {{ radio_port }},
        password = "{{ radio_password }}",
        mount = "/{{ radio_mountpoint }}",
        name = "{{ radio_name }}",
        description = "{{ radio_description }}",
        genre = "{{ radio_genre }}",
        icy_metadata="true",
        mksafe(radio))