output.icecast(%vorbis,
  host = "localhost",
  port = {{ radio_port }},
  password = "{{ radio_password }}",
  mount = "/{{ radio_mountpoint }}",
  name = "{{ radio_name }}",
  description = "{{ radio_description }}",
  genre = "{{ radio_genre }}",
  icy_metadata="true",
  mksafe(radio))
  