{
    "windowTitle": "Rádio Som do Mato",
    "startupScreen": "welcome",
    "kiwiServer": "https://web.libera.chat/webirc/kiwiirc/",
    "restricted": true,
    "theme": "sdm",
    "themes": [
        { "name": "sdm", "url": "static/themes/sdm" },
        { "name": "Default", "url": "static/themes/default" },
        { "name": "Dark", "url": "static/themes/dark" },
        { "name": "Coffee", "url": "static/themes/coffee" },
        { "name": "GrayFox", "url": "static/themes/grayfox" },
        { "name": "Nightswatch", "url": "static/themes/nightswatch" },
        { "name": "Osprey", "url": "static/themes/osprey" },
        { "name": "Radioactive", "url": "static/themes/radioactive" },
        { "name": "Sky", "url": "static/themes/sky" }
    ],
    "startupOptions" : {
        "autoConnect": true,
        "server": "irc.libera.chat",
        "port": 6667,
        "tls": false,
        "channel": "#somdomato",
        "nick": "sdm?",
        "greetingText": "",
        "infoBackground": "",
        "infoContent": ""
    },
    "buffers": {
       "messageLayout": "compact"
    }
}