server {
    listen 80;
    server_name {{ ip_addr }};
    return 301 https://{{ domain }}$request_uri;
}

server {
    listen 80; # default_server
    listen [::]:80; # default_server
    server_name *.{{ domain }} {{ domain }};
    return 301 https://{{ domain }}$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate         /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/{{ domain }}/privkey.pem;

    server_name www.{{ domain }};
    return 301 https://{{ domain }}$request_uri;
}

server {
    listen 443 ssl; # default_server
    listen [::]:443 ssl; # default_server

    ssl_certificate         /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/{{ domain }}/privkey.pem;

    server_name {{ domain }};
    root /var/www/{{ domain }};
    index index.php index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    include conf.d/php.conf;

    location ~ /\.ht {
        deny all;
    }
}