output.icecast(
  %ffmpeg(format="mp3", %audio(codec="libmp3lame", b="128k")), 
  mount="/{{ radio_mountpoint }}",
  host="localhost", 
  port={{ radio_port }},
  password="{{ radio_password }}",
  name = "{{ radio_name }}",
  description = "{{ radio_description }}",
  genre = "{{ radio_genre }}",  
  mksafe(radio))