#!/usr/bin/liquidsoap

%include "config.liq"
#%include "requests.liq"

live = input.harbor("aovivo", port = 8080, password = "{{ radio_password }}")
lista = playlist("/opt/liquidsoap/music")
radio = fallback(track_sensitive=false, [live, lista])

%include "output.ffmpeg.liq"