server {
    listen 80;
    listen [::]:80;
    server_name {{ item }};
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate         /etc/letsencrypt/live/{{ item }}/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/{{ item }}/privkey.pem;

    root /var/www/{{ item }};
    index index.php index.html;
    server_name {{ item }};

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php{{ php_version }}-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }
}
